#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

.app-container {
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: center;
}

.chart-container > * {
  margin-right: 40px;
  margin-bottom: 35px;
}

.chart-container > *:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

